<a href="https://colab.research.google.com/github/Nishanth-thiyakarajan/Top-200-Youtube-channels-data/blob/main/Python%20Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [ ]:
import pandas as pd
import numpy as np

Reading The Dataset

In [ ]:
from google.colab import files
uploadFile = files.upload()

In [ ]:
data = pd.read_csv('Youtube.csv')

Checking the Dataset

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 707 non-null    object
 1   Channel Name            857 non-null    object
 2   Category                736 non-null    object
 3   Main Video Category     855 non-null    object
 4   username                857 non-null    object
 5   followers               857 non-null    int64
 6   Main topic              855 non-null    object
 7   More topics             855 non-null    object
 8   Likes                   857 non-null    float64
 9   Boost Index             857 non-null    int64
 10  Engagement Rate         855 non-null    float64
 11  Engagement Rate 60days  857 non-null    float64
 12  Views                   857 non-null    int64
 13  Views Avg.              855 non-null    float64
 14  Avg. 1 Day              494 non-null    float64
 15  Avg. 3 Day              652 non-null    float64
 16  Avg. 7 Day              741 non-null    float64
 17  Avg. 14 Day             779 non-null    float64
 18  Avg. 30 day             815 non-null    float64
 19  Avg. 60 day             857 non-null    float64
 20  Comments Avg            855 non-null    float64
 21  Youtube Link            857 non-null    object
dtypes: float64(11), int64(3), object(8)
memory usage: 147.4+ KB

To find Duplicates

In [ ]:
data.duplicated().sum()

657

To Remove Duplicates

In [ ]:
data.drop_duplicates(subset ="Channel Name", keep = 'first', inplace = True)

Checking After Removing the Duplicates

In [ ]:
data.duplicated().sum()

0

Data Cleaning(Removing the Unwanted data)

In [ ]:
data.drop(columns =['Main Video Category','Main topic','More topics','username','Comments Avg','Engagement Rate 60days','Views Avg.','Avg. 1 Day','Avg. 3 Day','Avg. 7 Day','Avg. 14 Day','Avg. 30 day','Avg. 60 day','Comments Avg'],inplace=True)
data.head()

,Country,Channel Name,Category,followers,Likes,Boost Index,Engagement Rate,Views,Youtube Link
0,IN,T-Series,Gaming & Apps,220000000,1.602680e+09,83,0.033463,195660744416,UCq-Fj5jknLsUf-MWSy4_brA
1,US,ABCkidTV - Nursery Rhymes,Gaming & Apps,138000000,2.209901e+08,63,0.641716,133025325473,UCbCmjCuTUZos6Inko4u57UQ
2,IN,SET India,Gaming & Apps,137000000,1.748752e+08,79,0.001206,121741739317,UCpEhnqL0y41EpW2TvWAHD7Q
3,US,PewDiePie,Gaming & Apps,111000000,2.191406e+09,88,0.063426,28424113942,UC-lHJZR3Gqxm24_Vd_AJ5Yw
4,US,MrBeast,Gaming & Apps,98100000,1.731833e+09,60,0.729210,16242634269,UCX6OQ3DkcsbYNE6H8uQQuVA

Changing the exponential values to Numerical values.

In [ ]:
data['Likes']=data['Likes'].astype(int)
data['Engagement Rate']=data['Engagement Rate']*100
data['Engagement Rate'] = data['Engagement Rate'].fillna(0).astype(int)
data

,Country,Channel Name,Category,followers,Likes,Boost Index,Engagement Rate,Views,Youtube Link
0,IN,T-Series,Gaming & Apps,220000000,1602680172,83,3,195660744416,UCq-Fj5jknLsUf-MWSy4_brA
1,US,ABCkidTV - Nursery Rhymes,Gaming & Apps,138000000,220990134,63,64,133025325473,UCbCmjCuTUZos6Inko4u57UQ
2,IN,SET India,Gaming & Apps,137000000,174875242,79,0,121741739317,UCpEhnqL0y41EpW2TvWAHD7Q
3,US,PewDiePie,Gaming & Apps,111000000,2191405541,88,6,28424113942,UC-lHJZR3Gqxm24_Vd_AJ5Yw
4,US,MrBeast,Gaming & Apps,98100000,1731833460,60,72,16242634269,UCX6OQ3DkcsbYNE6H8uQQuVA
...,...,...,...,...,...,...,...,...,...
652,NaN,1theK (원더케이),Music,24100000,210214306,74,1,22431615067,UCweOkPb1wVVH0Q0Tlj4a5Pw
653,US,Post Malone,Gaming & Apps,24000000,16471431,57,152,12252459767,UCeLHszkByNZtPKcaVXOCOQQ
654,IN,Amit Bhadana,NaN,24000000,113983128,60,101,2227021034,UC_vcKmg67vjMP7ciLnSxSHQ
655,US,James Charles,Gaming & Apps,24000000,182740860,61,40,3664440993,UCucot-Zp428OwkyRm2I7v2Q
656,US,Netflix,None,24000000,106820094,63,3,5551273418,UCWOA1ZGywLbqmigxE4Qlvuw

Checking the null values in all columns

In [ ]:
data.isnull().sum()

Country            36
Channel Name        0
Category           36
followers           0
Likes               0
Boost Index         0
Engagement Rate     0
Views               0
Youtube Link        0
dtype: int64

Replacing the null values.

In [ ]:
data['Country'] = data['Country'].replace(np.nan, 'Unknown')
data['Category'] = data['Category'].replace(np.nan, 'None')
data.isnull().sum()

Country            0
Channel Name       0
Category           0
followers          0
Likes              0
Boost Index        0
Engagement Rate    0
Views              0
Youtube Link       0
dtype: int64

Coverting as a link.

In [ ]:
data['Youtube Link'] = 'https://www.youtube.com/channel/' + data['Youtube Link'].astype(str)
data

,Country,Channel Name,Category,followers,Likes,Boost Index,Engagement Rate,Views,Youtube Link
0,IN,T-Series,Gaming & Apps,220000000,1602680172,83,3,195660744416,https://www.youtube.com/channel/UCq-Fj5jknLsUf...
1,US,ABCkidTV - Nursery Rhymes,Gaming & Apps,138000000,220990134,63,64,133025325473,https://www.youtube.com/channel/UCbCmjCuTUZos6...
2,IN,SET India,Gaming & Apps,137000000,174875242,79,0,121741739317,https://www.youtube.com/channel/UCpEhnqL0y41Ep...
3,US,PewDiePie,Gaming & Apps,111000000,2191405541,88,6,28424113942,https://www.youtube.com/channel/UC-lHJZR3Gqxm2...
4,US,MrBeast,Gaming & Apps,98100000,1731833460,60,72,16242634269,https://www.youtube.com/channel/UCX6OQ3DkcsbYN...
...,...,...,...,...,...,...,...,...,...
652,Unknown,1theK (원더케이),Music,24100000,210214306,74,1,22431615067,https://www.youtube.com/channel/UCweOkPb1wVVH0...
653,US,Post Malone,Gaming & Apps,24000000,16471431,57,152,12252459767,https://www.youtube.com/channel/UCeLHszkByNZtP...
654,IN,Amit Bhadana,None,24000000,113983128,60,101,2227021034,https://www.youtube.com/channel/UC_vcKmg67vjMP...
655,US,James Charles,Gaming & Apps,24000000,182740860,61,40,3664440993,https://www.youtube.com/channel/UCucot-Zp428Ow...
656,US,Netflix,None,24000000,106820094,63,3,5551273418,https://www.youtube.com/channel/UCWOA1ZGywLbqm...

Export as a excel file

In [ ]:
data.to_excel('final_dataset.xlsx')